name: Build Jiho's JAR

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v31.6.0
      - name: gradle shadowJar
        run: |
          nix develop -c gradle shadowJar
      - name: Rename jiho-all.jar to jiho.jar
        run: |
          mv build/libs/jiho-all.jar build/libs/jiho.jar
      - name: Upload artifacts
        uses: actions/upload-artifact@v4.6.2
        with:
          name: jiho-jar
          path: build/libs
